:root{
    --hue-color: 206;
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --body-color: hsl(var(--hue-color), 4%, 6%);
    --text-color: hsl(var(--hue-color), 4%, 75%);

}
/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0 0 0 0;
    font-family: var(--body-font); 
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    
  }
  
  h1, h2, h3 {
    color: var(--title-color);
  }
  
  ul {
    list-style: none;
  }
  
  
  button {
    cursor: pointer;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* ===============CODE============= */

  .intro {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .desc-1, .image-1 {
    margin: 30px;
    flex: 1;
  }

  .image img {
    max-width: 100%; 
    height: auto;
  }

.header-wrapper {
  width: 100%;
  height: 200px;

  position: relative;

}
.header-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
}

.header-wrapper h1 {
  margin-left: 20%;
  font-size: 3.5rem;
}

main {
  max-width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  
}

.aboutme-wrapper p{
  padding: 20px;
}

.experience-wrapper div{
  padding: 20px;
}

.project-wrapper ul {
  padding: 20px;
}

.techstack-wrapper ul {
  padding: 20px;
}

.contacts-wrapper p {
  padding: 20px;
}


.techstack-list li {
  position: relative;
  padding-left: 20px; 
}

.techstack-list li::before {
  content: '•'; 
  position: absolute; 
  left: 0; 
  color: white; 
  font-size: 1.2em; 
}

.ex-wrapper li {
  position: relative;
  padding-left: 20px; 
}

.ex-wrapper li::before {
  content: '•'; 
  position: absolute; 
  left: 0; 
  color: white; 
  font-size: 1.2em; 
}

.project-wrapper li {
  position: relative;
  padding-left: 20px; 
}

.project-wrapper li::before {
  content: '•'; 
  position: absolute; 
  left: 0; 
  color: white; 
  font-size: 1.2em; 
}

/* === for phone screen size === */

  @media (max-width: 1500px){
    main {
      min-width: 50%;
      margin-left: 25%;
      margin-right: 25%;
      
    }
  }  
  
  @media (max-width: 1200px){
    main {
      min-width: 60%;
      margin-left: 20%;
      margin-right: 20%;
      
    }
  }  
  @media (max-width: 800px){

    main {
      min-width: 70%;
      margin-left: 15;
      margin-right: 15%;
      
    }

    .intro {
      flex-direction: column-reverse;
      align-items: center;
    }

    .intro .image-1 {
      padding: 80px;
    }

    .header-wrapper h1 {
      margin-left: 10%;
      font-size: 2.3rem;

    }
    .desc-1, .image-1 {
      margin: 20px;
      flex: 1;
    }
  }

  @media (max-width: 600px){

    main {
      min-width: 70%;
      margin-left: 15;
      margin-right: 15%;
      
    }

    .intro {
      flex-direction: column-reverse;
      align-items: center;
    }

    .intro .image-1 {
      padding: 20px;
    }

    .header-wrapper h1 {
      margin-left: 10%;
      font-size: 2.3rem;

    }
    .desc-1, .image-1 {
      margin: 20px;
      flex: 1;
    }
  }

  @media (max-width: 500px){

    main {
      min-width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      
    }

    .intro {
      flex-direction: column-reverse;
      align-items: center;
    }

    .intro .image-1 {
      padding: 20px;
    }

    .header-wrapper h1 {
      margin-left: 10%;
      font-size: 2.3rem;

    }
    .desc-1, .image-1 {
      margin: 5px;
      flex: 1;
    }
  }
